/*--------------*/
/* Reset Style */
/*------------*/

*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

input,textarea,button,select{
	outline: none;
	border: 0;
}

body{
	font-family: Arial;
}

/*--------------*/
/* Font Import */
/*------------*/

@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/option.eot?76808370');
  src: url('../fonts/icons/option.eot?76808370#iefix') format('embedded-opentype'),
       url('../fonts/icons/option.woff2?76808370') format('woff2'),
       url('../fonts/icons/option.woff?76808370') format('woff'),
       url('../fonts/icons/option.ttf?76808370') format('truetype'),
       url('../fonts/icons/option.svg?76808370#option') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*--------------------*/
/* Mobile Menu Style */
/*------------------*/

.mobile-menu{
	position: fixed;
	top: 0;
	left: -200px;
	width: 200px;
	height: 100%;
	padding: 5%;
	background: #46349b;
	color: #fff;
	box-sizing: border-box;
	transition: .3s left linear;
	z-index: 3;
}

.mobile-menu button{
	float: right;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 30px;
	color: #46349b;
}

.mobile-menu > p{
	font-size: 24px;
}

.mobile-menu ul{
	margin-top: 15%;
}

.mobile-menu li p{
	font-size: 18px;
}

.mobile-menu li a{
	color: #fff;
	line-height: 35px;
	text-decoration: underline;
}

/*--------------------*/
/* Page Header Style */
/*------------------*/

.page-top{
	position: relative;
	width: 100%;
	height: auto;
	padding: 1% 2%;
	background: #363441;
	box-sizing: border-box;
	z-index: 1;
}

.page-top h1 span:first-child{
	color: #46349b;
}

.page-top h1 span:last-child{
	margin-left: 2px;
	color: #fff;
}

/*-------------------*/
/* Navigation Style */
/*-----------------*/

nav{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #46349b;
}

nav > ul{
	position: relative;
	display: block;
	max-width: 80%;
	height: auto;
	margin: auto;
}

nav > ul > li{
	display: inline-block;
}

.mobile-nav{
	display: none;
	position: relative;
	width: 60px;
	height: 60px;
	font-size: 25px;
	color: #fff;
	background: transparent;
	z-index: 1;
}

.mobile-nav::before{
	content: '\f0c9';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 60px;
	font-size: 25px;
	font-family: "fontello";
	z-index: -1;
}

.dropdown-item{
	height: auto;
    display: inline-block;
	margin-right: 15px;
}

.dropdown-item > a::before{
	position: absolute;
	top: 25px;
	left: 0;
	content: '\e800';
	display: block;
	width: 20px;
	color: #fff;
	font-size: 10px;
	font-family: 'fontello';
	font-size: 16px;
	transform: rotate(90deg);
	transition: .5s color linear;
	z-index: 1;
}

.dropdown-item:hover .dropdown-menu{
	display: block;
}

.dropdown-item:hover > a{
	color: #60cbfc;
}

.dropdown-item:hover > a::before{
	color: #60cbfc;
}

.dropdown-item > a{
	position: relative;
	display: block;
	padding: 20px 30px;
	color: #fff;
	font-size: 18px;
	transition: .5s color linear;
	z-index: 1;
}

.dropdown-menu{
	display: none;
    position: absolute;
	left: 0;
    background-color: #363441;
    width: 100%;
    padding: 2%;
	box-sizing: border-box;
	z-index: 2;
}

.dropdown-menu ul{
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

.dropdown-menu li > p{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.dropdown-menu li a{
	line-height: 40px;
	font-size: 18px;
	color: #938db2;
	transition: .3s color linear;
}

.dropdown-menu li a:hover{
	color: #60cbfc;
}

/*--------------------*/
/* Best Selled Style */
/*------------------*/

.best-selled{
	display: inline-block;
	width: 24%;
	color: #fff;
	text-transform: uppercase;
}

.best-selled h2{
	font-size: 20px;
}

.best-selled p{
	font-size: 18px; 
}

.best-selled img{
	display: block;
	width: 100%;
	height: 200px;
	margin: 5% auto;
}

.best-selled a{
	display: inline-block;
	margin-top: 5%;
	width: 150px;
	height: 50px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 50px;
	border-radius: 50px;
	border: 2px solid #fff;
}

.best-selled a:hover{
	background-color: #fff;
	color: #363441; 
}

/*---------------*/
/* Footer Style */
/*-------------*/

footer{
	position: relative;
	width: 100%;
	height: auto;
	background: #46349b;
	padding: 2% 0;
	color: #fff;
	box-sizing: border-box;
}

footer a{
	color: #fff;
	text-decoration: underline;
}

.go-top{
	display: block;
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 2;
}

.go-top button{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: #fff;
	margin: auto;
	box-shadow: 0 -2px 10px rgba(0,0,0, .3);
}

.go-top button::before{
	content: '\e800';
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	color: #46349b;
	font-family: 'fontello';
	transform: rotate(-90deg);
	line-height: 60px;
}

.footer-wrap{
	width: 80%;
	height: auto;
	margin: auto;
	box-sizing: border-box;
}

.foot-logo{
	width: 100%;
	height: auto;
	padding: 2% 0;
	box-sizing: border-box;
}

.foot-logo h1 span:first-child{
	color: #666;
}

.foot-logo h1 span:last-child{
	margin-left: 2px;
	color: #fff;
}

.social-icons ul{
	width: 100%;
	height: auto;
	padding: 2% 0;
	text-align: center;
	box-sizing: border-box;
}

.social-icons li{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50px;
	border: 2px solid transparent;
	transition: .3s border-color ease;
	z-index: 1;
	overflow: hidden;
}

.social-icons li:hover{
	border-color: #fff;
}

.social-icons li a{
	display: block;
	width: 100%;
	height: 100%;
}

/* Icons */

.facebook::after{
	content: '\f09a';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 20px;
	font-family: "fontello";
	z-index: -1;
}

.twitter::after{
	content: '\f099';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 20px;
	font-family: "fontello";
	z-index: -1;
}

.gplus::after{
	content: '\f0d5';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 20px;
	font-family: "fontello";
	z-index: -1;
}

/* Rights Reserved */

.rights-reserved{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 2%;
	border-top: 2px solid #fff;
	overflow-y: auto;
}

.rights-reserved span:first-child{
	float: left;
}

.rights-reserved span:last-child{
	float: right;
}

/* Mobile Common Style */

@media screen and (max-width: 800px){
	.page-top{
		padding: 2%;
	}
	.mobile-nav{
		display: block;
	}
	nav > ul{
		display: none;
	}
	.rights-reserved span:first-child{
		float: none;
	}
	.rights-reserved span:last-child{
		float: none;
	}
	.rights-reserved span{
		display: block;
		margin-top: 10px;
		text-align: left;
	}
}
